

<style type="text/css">
.hidden { diplay: none; }
.unhidden { display: block;}
</style>

<%= form_for(@burger) do |f| %>
  <% if @burger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@burger.errors.count, "error") %> prohibited this burger from being saved:</h2>

      <ul>
      <% @burger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

<div class="row">
  <div class="span3 offset1">
  <a href="javascript:unhide('helptext');" class="btn btn-info" id="helpbtn">Confused?</a>
  </div>
</div>

<div class="row">
  <div class="span3 offset1">
  <div id="helptext" class="hidden">
  Select a bun, meat, and cheese for the burger.Then add the burger to an existing order or create a new one.
  </div>
  </div>
</div>

    <script type="text/javascript">
    function unhide(divID) {
      var item = document.getElementById(divID);
      if (item) {
        item.className=(item.className=='hidden')?'unhidden':'hidden';
      }
    }
    </script>

  <div class="row">
    <div class="span3 offset1"
    <p><h4>Select meat</h4></p>
   <label class="radio">
    <%= f.radio_button(:meat, "beef") %>
    <%= f.label(:meat, "Beef") %>
       </label>
        <label class="radio">
    <%= f.radio_button(:meat, "turkey") %>
    <%= f.label(:meat, "Turkey") %>
       </label>
        <label class="radio">
     <%= f.radio_button(:meat, "bison") %>
    <%= f.label(:meat, "Bison") %>
       </label>
        <label class="radio">
    <%= f.radio_button(:meat, "ostrich") %>
    <%= f.label(:meat, "Ostrich") %>
       </label>
        <label class="radio">
     <%= f.radio_button(:meat, "veggie") %>
    <%= f.label(:meat, "Veggie") %>  
      </label>

  <br>
  
     <p><h4>Select cheese</h4></p>
    <label class="radio">
    <%= f.radio_button(:cheese, "swiss") %>
    <%= f.label(:swiss, "Swiss") %>
     </label>
     <label class="radio">
    <%= f.radio_button(:cheese, "cheddar") %>
    <%= f.label(:swiss, "Cheddar") %>
     </label>
     <label class="radio">
    <%= f.radio_button(:cheese, "prov") %>
    <%= f.label(:swiss, "Provolone") %>
     </label>
     <label class="radio">
    <%= f.radio_button(:cheese, "amer") %>
    <%= f.label(:swiss, "American") %>
  </label>


  <br>
 
   <p><h4>Select bun</h4></p>
    <label class="radio">
    <%= f.radio_button(:bun, "white") %>
    <%= f.label(:bun, "White") %>
     </label>
     <label class="radio">
    <%= f.radio_button(:bun, "wheat") %>
    <%= f.label(:bun, "Wheat") %>
     </label>
     <label class="radio">
    <%= f.radio_button(:bun, "onion") %>
    <%= f.label(:bun, "Onion") %>
     </label>
     <label class="radio">
    <%= f.radio_button(:bun, "none") %>
    <%= f.label(:bun, "Skip the carbs") %>
  </label>


  <br>

  </div>
</div>

<div class="row">
  <div class = "span5 offset1">
   <p><h4>Add to order:</h4></p>
    <%= f.collection_select :order_id,
      Order.all, :id, :customer, :prompt => "Select order"%>
       <%= link_to "Create new order", new_order_path %><br />
  </div>
</div>
  
  <div class="row">
    <div class="span3 offset1">
     <div class="form-actions">
      <%= f.submit class: "btn btn-primary"%> 
      </div>
      
    </div>
  </div>
    
 
  
  
<% end %>

