<%= form_for(@side_dish) do |f| %>
  <% if @side_dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@side_dish.errors.count, "error") %> prohibited this side_dish from being saved:</h2>

      <ul>
      <% @side_dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
